# Virtual Environment
venv/
# FastAPI
__pycache__/
*.pyc
# Environment variables
*.env 
.env*
# Logs
logs/
# Models
models/
# Database
database/
# Node modules (if using Node.js for frontend)
node_modules/
# React build files (if using React for frontend)
build/